.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        = link_to group_tweets_path(@group) do
          = @group.name
      
        

    .RightHeader__editButton
      = link_to edit_group_path(@group) do
        EDIT 

  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {classr: "Form"}, local: true do |f|
      .Form__contents
        = f.text_area :content, class: 'Form__inputContent', placeholder: '波情報を入力'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hiddens'
      = f.submit '送信', class: 'Form__submit'