.body
  .group__title
    .group__title__name
      = @group.name
  .links
    .links__post
      %a.post
        = link_to "戻る", :back
    .links__btn
      %a.btn
        = link_to "波情報に戻る", groups_path
  = form_with url: search_group_tweets_path, local: true, method: :get, class: "search-form" do |form|
    = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
    = form.submit "検索", class: "search-btn"
  .contents.row
    - @tweets.each do |tweet|
      .content_post{style: "background-image: url(#{tweet.image});"}
        - if user_signed_in? && current_user.id == tweet.user_id
          .more
            %ul.more_list
              %li
                = link_to '編集', edit_group_tweet_path(@group,tweet.id), method: :get
              %li
                = link_to '削除', group_tweet_path(@group,tweet.id), method: :delete
      .comments
        .spanclass
          %spam.name= tweet.user.name
        .textclass
          %p= tweet.text